@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Client_Server_TTT_.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="theme-color" content="#fafafa">
    <link href="css/style.css" rel="stylesheet" id="skin" /> 
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="_content/Client_Server_TTT_/js/app.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
